.car-overlay.open {
    background: white;
    width: 300px;
    height: 360px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    position: fixed; 
    top: 98px; 
    right: 0; 
    z-index: 3;
    border: 3px solid black;
  }
  
  .car-close {
    margin-top: 20px;
    margin-left: 220px;
  }
  
  .car-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px;
  }

  .car-empty img {
    width: 360px;
    height: 360px;
  }

  .car-empty p {
    display: flex;
    justify-content: center;
  }

  .car-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 60vh;
    overflow-y: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .car-product {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 140px;
    justify-content: space-around;
    align-items: center;
    margin-top: 6px;
  }
  
  .car-product img {
    width: 80px;
    height: 100px;
  }
  
  .car-product h2 {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100px;
    height: 60px;
  }
  
  .car-product h3 {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 40px;
    height: 60px;
  }
  
  .car-close-product {
    border: none;
    cursor: pointer;
  }
  .carritoTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  