* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*MENU*/

.menu {
  
  min-height: 100px;
  border-bottom: 2px black solid;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 35px;
  align-items: center;
  justify-content: space-between;
}

.burger-icon img {
  width: 40px;
  height: 40px;
  display: block;
}

.burger-icon {
  display: flex;
  width: 200px;
  padding-left: 20px;
}

.logo img {
  width: 120px;
}

.logo {
  justify-content: center;
  align-items: center;
}

.right-align-elements {
  display: flex;
  position: end;
  align-items: center;
  padding-right: 20px;
}

.search-bar {
  border-bottom: solid 3px black;
  align-items: center;
}


.searchInput {
  border: none;
  color: black;
  text-transform: capitalize;
  font-weight: 300;
}

/*Banner*/
.images {
  grid-area: "images";
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.image-woman {
  width: 100vw; height: 100vh;
  align-items: center;
  display: flex;
  background-color: blueviolet;
  position: relative;
}

.image-man {
  width: 100vw; height: 100vh;
  align-items: center;
  display: flex;
  background-color: pink;
  position: relative;
  
}
.image-man img {
  object-fit: cover;
  width: 100%; height: 100%;
}

.image-woman img {
  object-fit: cover;
  width: 100%; height: 100%;
}
.collection-title-woman {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 28%;
  margin-top: -15%;

}
.collection-title-man {
  position: absolute;
  z-index: 1;
}
.collection-title-woman:hover {
  font-weight: 800;
  cursor: pointer;
  
}
/*FOOTER*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
  font-family: 'Fjalla One', sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  height: 130px;
  width: 100%;
  justify-content: center;
  align-items:center;
  padding-bottom: 10px;
}

.ayuda{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30px;
  padding-top: 5PX;

}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

.empresa{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30px;  
}

.follow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30px;
  padding-top: 5px;
  
}

.titles{
  font-size: 13px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.iconos-rrss{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding-top: 5px;
  
}

.iconos-rrss svg{
  color: rgb(41, 42, 38);
  height: 20px;
  width: 20px;
  margin-left: 20px;
}

hr { border: 1px inset rgb(235, 235, 235); height: 1px; width: 100%
}

/*MEDIA QUERY FOOTER DESKTOP*/ 

@media(min-width: 800px) { 
  
  .titles{
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

hr{
  display: none;
}

.footer{
  border-top: 2px black solid;
  text-align: center;

}

.follow{

  padding-bottom: 6px;
}
  
}
