* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MENU*/
.menu {
  min-height: 100px;
  border-bottom: 2px black solid;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header {
    justify-content: space-around;
  }

  .search-bar {
   display: none;
  }
 }

/* HAMBURUGESA */
.burger-icon img {
  width: 22px;
  height: 22px;
  display: block;
}

.burger-icon {
  display: flex;
  margin-right: 200px;
  padding-left: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburguesa {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.hamburguesa-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
  list-style: none;
}

li:hover {
  font-weight: bold;
}

.close-burger {
  position: absolute;
  margin-left: 380px;
  border: none;
  cursor: pointer;
  background: none;
}

@media (max-width: 768px) {
  .close-burger {
    margin-left: 300px;
  }

  .burger-icon {
    margin-right: 40px;
  }
 }

/* LOGO */
.logo img {
  margin-left: 70px;
  margin-bottom: 4px;
  width: 30%;
}

.logo {
  justify-content: center;
  align-items: center;
}

/* BUSCADOR */
.right-align-elements {
  display: flex;
  position: end;
  align-items: center;
  padding-right: 20px;
}

.search-bar {
  border-bottom: solid 3px black;
  align-items: center;
}


.searchInput {
  border: none;
  color: black;
  text-transform: capitalize;
  font-weight: 300;
}

/* CARRITO */
.cart-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.car {
  position: relative;

}

.carrito { 
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

/*BANNER*/
.banner {
  display: flex;
  overflow: hidden;
  background-image: url(./Img-banner/fondo.jpg);
  background-size: cover;
}

.flip-card {
 background-color: transparent;
 width: 33.33%;
 height: 500px;
 perspective: 1000px;
 border-style: none;
}

.flip-card-inner {
 position: relative;
 width: 100%;
 height: 100%;
 text-align: center;
 transition: transform 0.8s;
 transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
 transform: rotateY(180deg);
}

.banner-card-front, .banner-card-back {
 position: absolute;
 width: 100%;
 height: 100%;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
}

.banner-card-front {
 background-color: #bbb;
 color: black;
}

.img1, .img2, .img3 {
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 500px;
}

.img1{
  background-image: url(./Img-banner/hombre.jpg);
}

.img2{
  background-image: url(./Img-banner/mujer.jpg);
}

.img3{
  background-image: url(./Img-banner/accesorios.jpg);
}

.banner-card-back {
 background-color:  #FF5733;
 color: white;
 transform: rotateY(180deg);
}

.banner-card-back h1 {
  transform: translate(0, 5%);
  font-family: 'Open Sans', sans-serif;
  top: 50%;
  position: absolute;
  left: 30%;
}

@media only screen and (max-width: 992px) {
  .flip-card{
  height: 250px;
  }
  .banner {
  flex-direction: column;
}
.flip-card {
  width: 100%;
}
.img1, .img2, .img3 {
  height: 250px;
  background-position-y: 25%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
}
.catg-resp {
  text-shadow: -1px -1px 1px #000;
}
}

/* REGISTRO */
.user {
  margin-left: 10px;
}

.registro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.registro-content {
 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
}

.registration {
  display: flex;
  padding: 10px;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

}

.registration-x {
  position: absolute;
  margin-left: 240px;
  border: none;
  cursor: pointer;
  background: none;
}

.registros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  margin-bottom: 30px;
}

.register {
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
}

.registro-icon{  
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .registration-x {
    margin-left: 200px;
  }
 }

/*FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
  font-family: 'Fjalla One', sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  height: 130px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.ayuda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30px;
  padding-top: 5PX;

}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.empresa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30px;
}

.follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30px;
  padding-top: 5px;

}

.titles {
  font-size: 13px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.iconos-rrss {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding-top: 5px;

}

.iconos-rrss svg {
  color: rgb(41, 42, 38);
  height: 20px;
  width: 20px;
  margin-left: 20px;
}

hr {
  border: 1px inset rgb(235, 235, 235);
  height: 1px;
  width: 100%
}

/*MEDIA QUERY FOOTER DESKTOP*/

@media(min-width: 800px) {

  .titles {
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  hr {
    display: none;
  }

  .footer {
    border-top: 2px black solid;
    text-align: center;

  }

  .follow {

    padding-bottom: 6px;
  }

}