body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 80px;
  margin-bottom: 80px;
}

.imagenProducto {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 600px;
  height: 450px;
  overflow: hidden;
  
}

.imagenProducto img {
  width: 60%;
  height: 80%;
  object-fit: contain;
}

.detalle {
  padding-top: 100px;
  align-items: center;
  width: 400px;
  height: 350px;
}

.detalle p {
  text-align: justify;
}


.detalle h2{
  text-transform: uppercase;
  padding-bottom: 10px;
}

.detalle h3{
  text-transform: uppercase;
  font-size: 24px;
  padding-bottom: 10px;
}

.detalle p{
  padding-bottom: 20px;
}

.detalle button{
  border: none;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  display: flex;
  height: 60px;
  background-color: #252525;
  justify-content: center;
  text-align: center ;
  padding-top: 18px;
  margin-bottom: 18px;
  font-weight: bolder;
  cursor: pointer;
}

.detalle button:hover {
  color: white;
  background-color: #464646;
}

.volver {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 auto; 
    width: 90%; 
    margin-bottom: 100px;
    margin-top: 60px;
    gap: 0px;
  }

  .imagenProducto img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .detalle {
    padding-top: 10px;
  }
}